<footer class="bg-white border-t border-gray-400 shadow dark:bg-gray-900">
    <div class="container max-w-5xl mx-auto flex py-4">
        <div class="px-4">
            <h3 class="font-bold text-gray-900 dark:text-white">About</h3>
            <p class="py-4 text-gray-600 text-sm dark:text-gray-500">
                The ineptness of a certain group of developers sparked the motivation for this webpage. In hopes of
                better understanding those people, I shall become one of them and uncover how this lack of knowledge
                comes to be.</br>
                Got something to tell me? -> <a class="p-link"
                    href="mailto:balkanesergo@gmail.com">balkanesergo@gmail.com</a>
            </p>
        </div>
    </div>
</footer>