<nav id="header" class="fixed w-full z-10 top-0 dark:bg-gray-900">

    <div id="progress" class="h-1 z-20 top-0"
        style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="w-full md:max-w-6xl flex flex-wrap items-center justify-between mt-0 py-3">

        <div class="pl-4">
            <a class="text-gray-900 no-underline font-extrabold text-xl flex dark:text-white" href="/">
                <img src="/images/favicon-32x32.png" alt="">
                <p class="px-1">Balkaneser</p>
            </a>
        </div>

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-gray-600 border-gray-600 hover:border-gray-800 hover:text-gray-800 dark:text-gray-400 dark:border-gray-400 dark:hover:text-gray-200 dark:hover:border-gray-200 focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20 dark:bg-gray-900"
            id="nav-content">
            <ul id="nav-list" class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-2">
                    <a class="inline-block py-2 px-4 text-gray-600 no-underline hover:text-gray-900 dark:hover:text-white dark:text-gray-300"
                        href="/">Home</a>
                </li>
                <li class="mr-2">
                    <input type="checkbox" id="dropdown" class="hidden absolute">
                    <div
                        class="px-4 text-gray-600 hover:text-gray-900 dark:hover:text-white dark:text-gray-300  stroke-gray-600 hover:stroke-gray-900 dark:hover:stroke-white dark:stroke-gray-300">
                        <label for="dropdown" class="flex min-w-max items-center cursor-pointer">
                            <p class="py-2">Other</p>
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </label>
                    </div>
                    <div id="dropdownmenu"
                        class="lg:absolute lg:px-0 px-4 shadow rounded hidden bg-white  dark:bg-gray-800 dark:lg:bg-gray-900 border border-gray-400">
                        <ul>
                            <li
                                class="stroke-gray-600 hover:stroke-gray-900 dark:hover:stroke-white dark:stroke-gray-300">
                                <a class="flex hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:text-white dark:text-gray-300 text-gray-600 hover:text-gray-900"
                                    href="/blog/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        stroke-width="2" class="mt-0.5">
                                        <path d="M14 9l6 6-6 6" />
                                        <path d="M4 4v7a4 4 0 0 0 4 4h11" />
                                    </svg>Blog</a>
                            </li>
                            <li
                                class="stroke-gray-600 hover:stroke-gray-900 dark:hover:stroke-white dark:stroke-gray-300">
                                <a class="flex hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:text-white dark:text-gray-300 text-gray-600 hover:text-gray-900"
                                    href="/pages/conways.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        stroke-width="2" class="mt-0.5">
                                        <path d="M14 9l6 6-6 6" />
                                        <path d="M4 4v7a4 4 0 0 0 4 4h11" />
                                    </svg>Conways</a>
                            </li>
                        </ul>
                    </div>


                </li>
                <li class="mr-2">
                    <a class="inline-block py-2 px-4 text-gray-600 no-underline hover:text-gray-900 dark:hover:text-white dark:text-gray-300"
                        href="/pages/login.html">Login</a>
                </li>
                <li class="mr-2">
                    <button id="theme-toggle" type="button"
                        class="px-4 py-2 text-gray-500 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-700 rounded text-sm p-2.5">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>